{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid bag-container">
        <div class="row pt-4">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-12 col-md-8 offset-md-2">
                {% if bag_items %}

                    <!-- xs mobile bag -->
                    <div class="d-block d-md-none">
                        {% for item in bag_items %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-3">
                                    {% include "bag/product-info.html" %}
                                </div>
                                <div class="row">
                                    <div class="col-4 col-sm-6 image-mobile-div align-self-center">
                                        {% include "bag/product-image.html" %}
                                    </div>
                                    <div class="col-8 col-sm-6 pl-0">
                                        {% include "bag/quantity-form.html" %}
                                        <a class="update-link d-inline-block float-right">Update</a>
                                        <p class="my-2 d-inline-block">Subtotal: ${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                        <a class="remove-item d-inline-block float-right" id="remove_{{ item.item_id }}">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <hr class="bag-hr">
                        {% endfor %}
                        <div class="col-12 text-right">
                            {% include "bag/bag-total.html" %}
                        </div>
                        <hr class="bag-hr">

                        <div class="col-12 checkout-buttons p-0">
                            {% include "bag/checkout-buttons.html" %}
                        </div>
                    </div>

                    <!-- larger screens bag -->
                    <div class="d-none d-md-block">
                        <div class="row my-3">
                            <div class="col-10">
                                <h5>Products</h5>
                            </div>
                            <div class="col-2">
                                <h5>Subtotal</h5>
                            </div>
                        </div>

                        {% for item in bag_items %}
                            <div class="row mb-4">
                                <div class="col-3 align-self-center float-right">
                                    {% include "bag/product-image.html" %}
                                </div>
                                <div class="col-9 align-self-center">
                                    <div class="row mb-1">
                                        <div class="col-9">
                                            {% include "bag/product-info.html" %}
                                        </div>
                                        <div class="col-3 text-right">
                                            <h5 class="mb-1">${{ item.product.price | calc_subtotal:item.quantity }}</h5>
                                            <a class="remove-item d-inline-block my-2" id="remove_{{ item.item_id }}">Remove</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            {% include "bag/quantity-form.html" %}
                                            <a class="update-link d-inline-block float-right">Update</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="row mb-4">
                            <div class="col-12 text-center">
                                <div class="bag-details-div">
                                    <div class="pt-4 text-right">
                                        {% include "bag/bag-total.html" %}
                                    </div>
                                </div>
                                <div class="my-3 pt-4">
                                    {% include "bag/checkout-buttons.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-grey">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}