{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- jumbotron -->
        <div class="row home-page-div">
            <div class="col-12 text-center jumbotron-div">
                <h1 class="display-4 logo-font mb-5">
                    Make your home greener
                </h1>
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-btn btn btn-lg text-uppercase py-3">Shop Now</a>
                    </h4>
            </div>
        </div>

        <!-- info -->
        <div class="row home-info text-center">
            <div class="col-12 col-md-10 offset-md-1">

                <!-- main categories -->
                <div class="row my-5">
                    <div class="col-12 col-md-4 mb-3 px-3">
                        <a href="{% url 'products' %}?category=indoor">
                            <img src="{{ MEDIA_URL }}greenery-categ.jpg" class="categ-img" alt="indoor-greenery-category">
                            <h4 class="categ-header my-3 logo-font">Indoor Plants</h4>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 mb-3 px-3">
                        <a href="{% url 'products' %}?category=indoor">
                            <img src="{{ MEDIA_URL }}flowers-categ.jpg" class="categ-img" alt="dry-flowers-category">
                            <h4 class="categ-header my-3 logo-font">Dry Flowers</h4>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 mb-3 px-3">
                        <a href="{% url 'products' %}?category=indoor">
                            <img src="{{ MEDIA_URL }}cacti-categ.jpg" class="categ-img" alt="cacti-category">
                            <h4 class="categ-header my-3 logo-font">Cacti</h4>
                        </a>
                    </div>
                </div>

                <!-- blog -->
                <div class="row home-blog-div text-center my-5">
                    <div class="col-12 latest-blog-div">
                        <div class="row text-center">
                            <div class="col-12 col-lg-7 align-self-center">
                                <img src="{{ MEDIA_URL }}plants-shop.jpg" class="blog-home-image" alt="blog_image">
                            </div>
                            <div class="col-12 col-lg-5 align-self-center">
                                <h4 class="logo-font my-4">Not everybody has a green thumb!</h4>
                                <p class="my-5">
                                    That's why we don't just provide you with the best plants, but also give you the best tips to take become a professional plant parent in our blog :D
                                </p>
                                <div class="text-center"><a href="{% url 'blog' %}" class="btn btn-green text-uppercase py-3">Go to the blog!</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- values -->
                <div class="row my-5">
                    <div class="col-12 text-center">
                        <h3 class="logo-font my-5">To be human is to experience biophilia.</h3>
                    </div>
                    <div class="col-12 col-md-4 mb-3 px-3">
                        <div class="home-icon text-green"><i class="far fa-smile-beam"></i></div>
                        <h6 class="care-header my-3 logo-font">Joy</h6>
                        <p>Every exposure to nature—from caring for plants to just sharing a space with organic elements—promotes a sense of peace and enhances overall wellbeing.</p>
                    </div>
                    <div class="col-12 col-md-4 mb-3 px-3">
                        <div class="home-icon text-green"><i class="fas fa-tree"></i></div>
                        <h6 class="care-header my-3 logo-font">Connection</h6>
                        <p>Relationships define the quality of your life. We’re here to nurture connections between people and plants and the places they both thrive.</p>
                    </div>
                    <div class="col-12 col-md-4 mb-3 px-3">
                        <div class="home-icon text-green"><i class="far fa-star"></i></div>
                        <h6 class="care-header my-3 logo-font">Growth</h6>
                        <p>Cultivating our spaces—both the places we inhabit and our internal realms, allows us to reflect, restore, and transform for the better.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}