{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid account-container">
        <div class="overlay-profile"></div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 dark-container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="logo-font text-center my-3">My Wishlist</h2>
                        <hr>
                    </div>
                </div>
                {% if wishlist %}
                    {% for product in products %}
                        <!-- wishlist item -->
                        <div class="row wishlist-container text-center">
                            <div class="col-4 wishlist-col wishlist-img-div align-self-center">
                                {% if product.image %}
                                    <img class="img-fluid rounded-0" src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="img-fluid rounded-0" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}

                            </div>
                            <div class="col-8 wishlist-col align-self-center">
                                <p class="mb-2"><strong>{{ product.name }}</strong> - ${{ product.price }}</p>
                                <div class="row wishlist-buttons my-3">
                                    <div class="col-12">
                                        <form class="form d-inline-block" method="POST" action="{% url 'delete_from_wishlist' product.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            <button class="btn btn-wishlist"><i class="fas fa-heart"></i></button>
                                        </form>
                                        <form class="form d-inline-block" method="POST" action="{% url 'product_detail' product.id %}">
                                            {% csrf_token %}
                                            <button class="btn btn-wishlist"><i class="fas fa-shopping-bag"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <hr class="hr-white">
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row my-3">
                        <div class="col-6 text-left align-self-center">
                            <a href="{% url 'products' %}" class="btn mt-5 btn-white">	
                                <span class="icon">	
                                    <i class="fas fa-chevron-left"></i>	
                                </span>	
                                <span class="text-uppercase">Keep Shopping</span>	
                            </a>
                        </div>
                        <div class="col-6 text-right align-self-center">
                            <a href="{% url 'profile' %}" class="btn mt-5 btn-white">
                                <span class="text-uppercase">My Profile</span>
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>	
                            </a>
                        </div>
                    </div>
                    
                {% else %}
                    <p class="lead mb-5">Your wishlist is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-white">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}