@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/home-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #222;
    font-family: 'Raleway';
}

.text-green {
    color: #4D6A61 !important;
}

.form-control {
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
    padding-bottom: 20px;
}

.modal-header {
    padding: 0.7rem;
}

.logo-font {
    font-family: 'Playfair Display', cursive;
}

.border-black {
    border: 1px solid #222 !important;
}

/* ----------------------------------------------------------------- BUTTONS */

.shop-now-btn {
    background: #4D6A61;
    color: #FAFAFA;
    min-width: 230px;
    border-radius: 0;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus {
    background: #222;
    color: #FAFAFA;
    border: 1px solid #FAFAFA;
}

.btn-green {
    background: #4D6A61;
    color: #FAFAFA;
    border-radius: 0;
}

.btn-green a {
    color: #FAFAFA;
    text-decoration: none;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: #222;
    color: #FAFAFA;
}

.btn-grey {
    background: #22222277;
    color: #FAFAFA;
    border-radius: 0;
}

.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
    background: #4D6A61;
    color: #FAFAFA;
    border: 1px solid #222;
}

.btn-white {
    background: #FAFAFA;
    color: #222 !important;
    border-radius: 0;
    border: 1px solid #222;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: #4D6A61;
    color: #FAFAFA !important;
    border: 1px solid #4D6A61;
}

.back-top-btn {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #FAFAFA77;
    border-radius: 0;
}

.back-top-btn:hover,
.back-top-btn:active,
.back-top-btn:focus {
    background: #4D6A6177;
    color: #FAFAFA;
}

.increment-qty,
.decrement-qty {
    padding-left: 2px;
    padding-right: 2px;
}

.update-link,
.remove-item {
    color: #4D6A61;
    font-size: 0.6rem;
    border: 0.3px solid #4D6A61;
    padding: 2px 5px;
    width: 60px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 8px 0;
}

.update-link:hover,
.remove-item:hover {
    cursor: pointer;
    background: #4D6A61;
    color: #FAFAFA !important;
}

.edit-delete-btn {
    padding: 0;
    float: right;
    background: #222;
    border-radius: 0;
}

.edit-delete-btn a {
    padding: 0;
    width: 70px;
    margin: 0;
    background: #22222277;
    color: #FAFAFA;
}

.edit-delete-btn a:hover,
.edit-delete-btn a:active,
.edit-delete-btn a:focus {
    background: #FAFAFA;
    color: #222;
}

.quantity-btn {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #222;
    padding: 0 5px;
}

.quantity-btn:hover,
.quantity-btn:active,
.quantity-btn:focus {
    color: #4D6A61;
}

/* ------------------------------------------------------------------ BANNER */

.delivery-banner {
    background: #FAFAFA;
    color: #222;
    margin: 0px;
    letter-spacing: 2px;
}

/* ------------------------------------------------------------------ NAVBAR */

.header-style {
    background-color: #222;
    height: 90px;
}

.navbar-item {
    color: #FAFAFA;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-item:hover,
.navbar-item:active,
.navbar-item:focus {
    color: #222;
    background-color: #FAFAFA;
    text-decoration: none;
}

.navbar-icon {
    color: #FAFAFA;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 0.8rem;
    width: 0.8rem;
}

.navbar-icon:hover,
.navbar-icon:active,
.navbar-icon:focus {
    color: #222;
    background-color: #FAFAFA;
}

.navbar-icon i:hover,
.navbar-icon i:active,
.navbar-icon i:focus {
    color: #9FBBAF;
    background-color: #222;
}

.nav-link {
    padding: 0.5rem 0;
}

.dropdown-item {
    padding: 0.25rem 1rem;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    color: #222;
    background-color: #FAFAFA;
}

.mobile-dropdown:hover,
.mobile-dropdown:active,
.mobile-dropdown:focus {
    background-color: #222;
}

.mobile-dropdown i:hover,
.mobile-dropdown i:active,
.mobile-dropdown i:focus {
    color: #9FBBAF;
    background-color: #222;
}

.basket-el {
    display: inline-block;
}

.main-logo-link img {
    max-width: 200px;
}

.closebtn {

}

/* --------------------------------------------------------------- SHOP MENU */
/* from w3schools */

.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 5; 
    top: 0;
    background-color: #222;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 100px 0px 40px;
    transition: 0.5s;
  }

.leftnav {
    left: 0;
}
.rightnav {
    right: 0;
}
  
.sidenav a {
    padding: 10px;
    font-size: 25px;
    color: #FAFAFA;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}
  
.sidenav a:hover {
    color: #9FBBAF;
}

.sidenav .closebtn,
.mobilenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 50px;
}

.sidenav-text {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #FAFAFA;
    display: block;
    transition: 0.3s;
}

.search-icon {
    color: #222;
    text-decoration: none;
}

.search-icon:hover,
.search-icon:active,
.search-icon:focus {
    color: #4D6A61;
    text-decoration: none;
}

/* ----------------------------------------------------------- MOBILE NAVBAR */

.mobilenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 5; 
    top: 0;
    background-color: #222;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 80px 0px 20px;
    transition: 0.5s;
    left: 0;
}

.mobilenav a {
    padding: 2px;
    text-decoration: none;
}
  
.mobilenav a:hover {
    color: #9FBBAF;
}

.mobile-el {
    padding: 2px;
    text-decoration: none;
    font-size: 25px;
    color: #FAFAFA;
    display: block;
    transition: 0.3s;
}
  
.mobile-el:hover,
.mobile-el:active,
.mobile-el:focus {
    color: #9FBBAF;
}

.mobile-el i {
    padding-right: 10px;
}

.mobile-el i:hover,
.mobile-el i:active,
.mobile-el i:focus {
    color: #4D6A61;
    background: #222;
}

/* ------------------------------------------------------------------- FOOTER */

.footer {
    background: #222;
    color: #FAFAFA;
    padding: 30px;
    margin-bottom: 0;
    font-size: 1.1rem;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 160px;
}

.footer-logo-link img {
    max-width: 300px;
}

.footer-i {
    padding: 3px;
    margin: 5px 20px;
    color: #FAFAFA;
    font-size: 1.1rem;
}

.footer-i:hover,
.footer-i:active,
.footer-i:focus {
    color: #9FBBAF;
}

/* ---------------------------------------------------------------- HOME PAGE */

.home-page-div {
    margin-top: 100px;
    height: 95vh;
}

.jumbotron-div {
    margin-top: 150px;
    height: fit-content;
    background: #222222CC;
    padding: 40px;
}

.jumbotron-div h1 {
    text-shadow: 0px 0px 4px black;
    color: #FAFAFA;
}

.main-container {
    padding-top: 130px;
    min-height: 83vh;
    background: #FAFAFA !important;
}

.header-container {
    padding-top: 80px;
    background: #FAFAFA;
}

.dark-container {
    background: #222222BB;
    border-radius: 0;
    color: #FAFAFA;
    padding: 20px;
    margin-bottom: 170px;
}

.home-info {
    background: #FAFAFA;
    color: #222;
    padding: 80px 100px;
}

.home-icon i {
    font-size: 1.2rem;
    padding-top: 5px;
    font-size: 1.8rem;
    color: #9FBBAF;
}

.home-blog-div {
    background: #222;
    color: #FAFAFA;
}

.latest-blog-div {
    background: #222;
    padding: 30px;
}

.blog-home-image {
    max-width: 600px;
}

.categ-img {
    max-width: 300px;
}

.categ-header {
    text-decoration: none;
    transition: 0.3s;
    color: #222;
    text-transform: uppercase;
}
  
.categ-header:hover,
.categ-header:active,
.categ-header:focus {
    color: #9FBBAF;
    text-decoration: none;
}


/* ------------------------------------------------------------ PRODUCTS PAGE */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #FAFAFA;
    z-index: -1;
}

.overlay-shelf {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
    position: fixed;
    background: url('/media/shelf.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.overlay-wall {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background: url('/media/wall.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.overlay-profile {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
    position: fixed;
    background: url('/media/profile.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.card {
    border-radius: 0;
    background: #222;
    color: #FAFAFA;
}

.card-img {
    border-radius: 0;
    max-height: 275px;
}

.product-name {
    color: #FAFAFA;
    text-decoration: none;
}

.product-name:hover,
.product-name:active,
.product-name:focus {
    color: #9FBBAF;
    text-decoration: none;
}

.card-footer {
    border-top: 0;
}

.card-footer p {
    padding-bottom: .75rem;
    letter-spacing: 2px;
}

a.category-link {
    color: #222;
    text-decoration: none;
}

a.category-link:hover,
a.category-link:active,
a.category-link:focus {
    color: #4D6A61;
    text-decoration: none;

}

.back-top-link {
    cursor: pointer;
}

/* ----------------------------------------------------- PRODUCT_DETAIL PAGE */

.care-info {
    background: #222;
    color: #FAFAFA;
    padding: 25px 15px;
    margin: 30px 0;
}

.care-header {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ------------------------------------------------------- ADD PRODUCTS PAGE */

.remember-note {
    margin: 20px;
    padding: 30px;
    background: #9FBBAF;
    color: #FAFAFA;
}

/* ------------------------------------------------------- SHOPPING BAG PAGE */

.bag-container {
    padding-top: 30px;
    min-height: 83vh;
    background: #FAFAFA !important;
    width: 100%;
}

.bag-details-div {
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 0;
}

.qty_input {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #222;
    padding: 0 5px;
    font-size: 1.1rem;
    width: 51px;
    text-align: center;
}

.qty_input:hover,
.qty_input:active,
.qty_input:focus {
    color: #4D6A61;
}

.bag-hr {
    margin: 15px;
    color: #4D6A61;
}

.image-mobile-div {
    text-align: center;
}

.image-mobile-div img {
    max-height: 150px;
}

/* ----------------------------------------------------------- WISHLIST PAGE */

.wishlist-container {
    padding: 10px 50px;
    margin: 5px 40px;
    border-radius: 0;
    color: #FAFAFA;
    background: #222;
}

.wishlist-img-div img {
    max-height: 180px;
}

.btn-wishlist {
    color: #FAFAFA;
    font-size: 1.3rem;
}

.btn-wishlist:hover,
.btn-wishlist:active,
.btn-wishlist:focus {
    color: #9FBBAF;
}

/* ------------------------------------------------------------------ TOASTS */

.toast {
    background-color: transparent;
    backdrop-filter: none;
}

.toast-header {
    background-color: transparent;
    border-bottom: 0;
    justify-content: flex-end;
}

.close-toast {
    color: #FAFAFA;
    font-size: 1.3rem;
}

.btn-wishlist:hover,
.btn-wishlist:active,
.btn-wishlist:focus {
    color: #9FBBAF;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 10000;
    background: #4D6A61;
    color: #FAFAFA;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ----------------------------------------------------------- ALLAUTH FORMS */
.account-container {
    padding-top: 164px;
    min-height: 90vh;
}

.allauth-form-inner-content input {
    border-color: #222;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #9FBBAF;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #FAFAFA;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #FAFAFA;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #9FBBAF;
}

/* ------------------------------------------------------------ PRODUCT FORM */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* --------------------------------------------------------------- BLOG PAGE */
.card-post {
    border-radius: 0;
    height: 80%;
    position: relative;
    text-align: center;
}

.post-info {
    background: #222222CC;
    color: #FAFAFA;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
}

.post-info:hover,
.post-info:active,
.post-info:focus {
    background: #222;
    color: #fafafa;
}

.post-info p {
    font-size: 1.3rem;
    padding: 10px 0;
    margin: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------------------------------------------------------- BLOG_POST PAGE */

.post-main-title {
    font-size: 40px;
}

.post-main-subtitle {
    padding: 0;
    margin: 0;
}

.post-text {
    text-align: justify;
    text-align: center;
    margin: 20px 0;
}

/* -------------------------------- Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-logo-link img {
        max-width: 100px;
    }
    .dropdown-item {
        padding: .25rem;
    }
    .home-info {
        padding: 50px 10px;
    }
    .edit-delete-btn a {
        width: 50px;
        font-size: 0.7rem;
    }
    .qty_input {
        padding: 0;
        font-size: 0.9rem;
        width: 23px;
    }
    .header-container {
        padding-top: 60px;
    }
    .checkout-buttons a {
        font-size: 0.9rem;
    }
    .main-container {
        padding-top: 50px;
    }
    .wishlist-container {
        padding: 10px 2px;
        margin: 5px 0;
    }
    .wishlist-img-div img {
        max-height: 100px;
    }
    .wishlist-col {
        padding: 2px;
    }
    .jumbotron-div {
        margin-top: 80px;
        padding: 30px;
    }
    .jumbotron-div h1 {
        font-size: 2.5rem;
    }
    .blog-home-image {
        max-width: 240px;
    }
    .categ-img {
        max-width: 250px;
    }
    .footer-logo-link img {
        max-width: 240px;
    }
    .header-style {
        height: 60px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-logo-link img {
        max-width: 120px;
    }
    .sidenav {
        padding: 40px 0px 20px;
    }
    .update-link,
    .remove-item {
        margin: 0;
    }
    .main-container {
        padding-top: 70px;
    }
    .blog-home-image {
        max-width: 300px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-logo-link img {
        max-width: 150px;
    }
    .home-info {
        padding: 40px 20px;
    }
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 5;
    }
    .header-container {
        padding-top: 60px;
    }
    .blog-home-image {
        max-width: 400px;
    }
    .categ-img {
        max-width: 180px;
    }
    .footer-logo-link img {
        max-width: 200px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home-page-div {
        padding-top: 40px;
    }
    .main-container {
        padding-top: 30px;
    }
    .header-container {
        padding-top: 100px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 1.2rem;
    }
    .container {
        max-width: 80%;
    }
    .jumbotron-div {
        margin-top: 150px;
        padding: 60px;
        font-size: 2.5rem;
    }
}