@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/home-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #222;
    font-family: 'Raleway';
}

/* ------------------------------------------------------------------ BANNER */

.delivery-banner {
    background: #FAFAFA;
    color: #222;
    margin: 0px;
    padding-top: 8px;
    letter-spacing: 2px;
}

/* ------------------------------------------------------------------ NAVBAR */

.header-style {
    background-color: #222;
}

.navbar-item {
    color: #FAFAFA;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-item:hover,
.navbar-item:active,
.navbar-item:focus {
    color: #222;
    background-color: #FAFAFA;
    text-decoration: none;
}

.navbar-icon {
    color: #FAFAFA;
    text-decoration: none;
    cursor: pointer;
}

/* --------------------------------------------------------------- SHOP MENU */
/* from w3schools */

/* Side navigation menu */
.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0;
    background-color: #222;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; 
    transition: 0.5s;
  }

.leftnav {
    left: 0;
}
.rightnav {
    right: 0;
}
  
.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #FAFAFA;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #6B9286;
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 50px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ----------------------------------------------------------- MOBILE NAVBAR */


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}

.logo-font {
    font-family: 'Playfair Display', cursive;
}

.main-logo-link img {
    max-width: 200px;
}

.shop-now-button {
    background: #222;
    color: #fafafa;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #125648;
    color: #fafafa;
}

.btn-green {
    background: #125648;
    color: #fafafa;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: #222;
    color: #fafafa;
}

.border-black {
    border: 1px solid #222 !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}