@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/home-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #222;
    font-family: 'Raleway';
}

.text-green {
    color: #125648 !important;
}

/* ----------------------------------------------------------------- BUTTONS */

.shop-now-btn {
    background: #222;
    color: #fafafa;
    min-width: 260px;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus {
    background: #125648;
    color: #fafafa;
}

.btn-green {
    background: #125648;
    color: #fafafa;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: #222;
    color: #fafafa;
}

.btn-grey {
    background: #22222277;
    color: #FAFAFA;
}

.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
    background: #125648;
    color: #FAFAFA;
}

.back-top-btn {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #FAFAFA77;
}

.back-top-btn:hover,
.back-top-btn:active,
.back-top-btn:focus {
    background: #12564877;
    color: #FAFAFA;
}

.increment-qty,
.decrement-qty {
    padding-left: 2px;
    padding-right: 2px;
}

.update-link,
.remove-item {
    font-size: 0.8rem;
}

.update-link:hover,
.remove-item:hover {
    font-size: 0.9rem;
    cursor: pointer;
}

/* ------------------------------------------------------------------ BANNER */

.delivery-banner {
    background: #FAFAFA;
    color: #222;
    margin: 0px;
    padding-top: 8px;
    letter-spacing: 2px;
}

/* ------------------------------------------------------------------ NAVBAR */

.header-style {
    background-color: #222;
}

.navbar-item {
    color: #FAFAFA;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-item:hover,
.navbar-item:active,
.navbar-item:focus {
    color: #222;
    background-color: #FAFAFA;
    text-decoration: none;
}

.navbar-icon {
    color: #FAFAFA;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 0.8rem;
    width: 0.8rem;
}

.nav-link {
    padding: 0.5rem 0;
}

/* --------------------------------------------------------------- SHOP MENU */
/* from w3schools */

.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 5; 
    top: 0;
    background-color: #222;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 100px 0px 40px;
    transition: 0.5s;
  }

.leftnav {
    left: 0;
}
.rightnav {
    right: 0;
}
  
.sidenav a {
    padding: 10px;
    font-size: 25px;
    color: #FAFAFA;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}
  
.sidenav a:hover {
    color: #6B9286;
}

.sidenav .closebtn,
.mobilenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 20px;
}

.sidenav-text {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #FAFAFA;
    display: block;
    transition: 0.3s;
}

.search-icon {
    color: #222;
    text-decoration: none;
}

.search-icon:hover,
.search-icon:active,
.search-icon:focus {
    color: #125648;
    text-decoration: none;
}

/* ----------------------------------------------------------- MOBILE NAVBAR */

.mobilenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 5; 
    top: 0;
    background-color: #222;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 80px 0px 20px;
    transition: 0.5s;
    left: 0;
}

.mobilenav a {
    padding: 2px;
    text-decoration: none;
}
  
.mobilenav a:hover {
    color: #6B9286;
}

.mobile-el {
    padding: 2px;
    text-decoration: none;
    font-size: 25px;
    color: #FAFAFA;
    display: block;
    transition: 0.3s;
}
  
.mobile-el:hover {
    color: #6B9286;
}






.logo-font {
    font-family: 'Playfair Display', cursive;
}

.main-logo-link img {
    max-width: 200px;
}

.border-black {
    border: 1px solid #222 !important;
}

/* ---------------------------------------------------------------- HOME PAGE */

.home-page-container h1 {
    margin-top: 140px;
}

.main-container {
    padding-top: 130px;
    background: #FAFAFA !important;
}

/* ------------------------------------------------------------ PRODUCTS PAGE */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #FAFAFA;
    z-index: -1;
}

.overlay-wall {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background: url('/media/wall.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.card {
    border-radius: 0;
    background: #6B9286;
    color: #FAFAFA;
}

.card img {
    border-radius: 0;
}

.card-footer {
    border-top: 0;
}

.card-footer p {
    padding-bottom: .75rem;
    font-family: 'Playfair Display', cursive;
    letter-spacing: 1px;
}

a.category-link {
    color: #222;
    text-decoration: none;
}

a.category-link:hover,
a.category-link:active,
a.category-link:focus {
    color: #125648;
    text-decoration: none;

}

.back-top-link {
    cursor: pointer;
}

/* ------------------------------------------------------- SHOPPING BAG PAGE */

.bag-details-div {
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

/* ------------------------------------------------------------------ TOASTS */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 100;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* -------------------------------- Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-logo-link img {
        max-width: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-logo-link img {
        max-width: 120px;
    }

    .sidenav {
        padding: 40px 0px 20px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-logo-link img {
        max-width: 150px;
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 5;
    }

    .header-container {
        padding-top: 164px;
        background: #FAFAFA;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home-page-container {
        padding-top: 40px;
    }
    
    .main-container {
        padding-top: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 80%;
      }
}