<!-- menu -->
<div class="col-4 my-auto py-1 text-center align-self-center">
    <span onclick="openMobileNav()"  class="dropdown-item navbar-item">Menu</span>

    <div id="myMobileNav" class="mobilenav">
        <ul>
            <!-- close button -->
            <li class="list-inline-item mobile-el">
                <a href="javascript:void(0)" class="closebtn mobile-el" onclick="closeMobileNav()">&times;</a>
            </li>

            <!-- shop -->
            <li class="list-inline-item mobile-el">
                <h4><a href="#" class="mobile-el"><i class="fab fa-pagelines"></i>SHOP</a></h4>
                <a href="{% url 'products' %}" class="mobile-el"><small>ALL PRODUCTS</small></a>
                <a href="{% url 'products' %}?category=indoor" class="mobile-el"><small>INDOOR PLANTS</small></a>
                <a href="{% url 'products' %}?category=cacti" class="mobile-el"><small>CACTI</small></a>
                <a href="{% url 'products' %}?category=flowers" class="mobile-el"><small>DRY FLOWERS</small></a>
                <a href="{% url 'products' %}?category=deals" class="mobile-el"><small>SPECIAL OFFERS</small></a>
            </li>

            <!-- blog -->
            <li class="list-inline-item mobile-el">
                <h4><a href="{% url 'blog' %}" class="mobile-el"><i class="fas fa-info"></i>PLANT TIPS</a></h4>
            </li>

            <!-- account -->
            <li class="list-inline-item mobile-el">
                <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div>
                        <h4 class="mobile-el"><i class="fas fa-user"></i>ACCOUNT</h4>
                    </div>
                </a>
                <div class=" mobile-el" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="mobile-el"><small>Product Management - Add Product</small></a>
                            <a href="{% url 'add_post' %}" class="mobile-el"><small>Product Management - Add Blog Post</small></a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="mobile-el"><small>My Profile</small></a>
                        <a href="{% url 'account_logout' %}" class="mobile-el"><small>Logout</small></a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="mobile-el"><small>Register</small></a>
                        <a href="{% url 'account_login' %}" class="mobile-el"><small>Login</small></a>
                    {% endif %}
                </div>
            </li>

           <!-- search -->
            <li class="list-inline-item mobile-el">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-80 text-center">
                        <input class="form-control border rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search navbar-item"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

<!-- logo -->
<div class="col-4 my-auto py-1 text-center align-self-center">
    <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <img src="media/logo.jpg" alt="Plantas&co. Shop">
    </a>
</div>

<!-- basket -->
<div class="col-4 my-auto py-1 text-center align-self-center">
    <ul class="list-inline list-unstyled text-center my-0">
        <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg navbar-item"></i></div>
                    <p class="my-0 navbar-item">
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        $0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>