{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container main-container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                
                <!-- edit/delete button -->
                {% if request.user.is_superuser %}
                    <div class="edit-delete-btn">
                        <a class="btn" href="#"><small>Edit</small></a>
                        <a class="btn" href="#"><small>Delete</small></a>
                    </div>
                {% endif %}

                <!-- post header -->
                <h2 class="post-main-title text-center my-5">{{ blog.title }}</h2>
                <hr>
                <p class="post-main-subtitle text-center"><small> by {{ blog.author }} · · · {{ blog.date_created }}</small></p>
                <hr>


                <!-- post image -->
                <div class="image-container my-4">
                    {% if blog.main_image %}
                        <img class="img-fluid" src="{{ blog.main_image.url }}" alt="{{ blog.title }}">
                    {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}">
                    {% endif %}
                </div>

                <!-- post main content -->
                <p class="post-text">{{ blog.text }}</p>

                <!-- back to blog page -->
                <a href="{% url 'blog' %}" class="btn my-5 btn-grey">	
                    <span class="icon">	
                        <i class="fas fa-chevron-left"></i>	
                    </span>	
                    <span class="text-uppercase">Back to blog</span>	
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}