{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay-wall"></div>
    <div class="container main-container">
        <div class="row">
            <div class="cold-12 col-md-8 offset-md-2 text-center">
                <h2 class="logo-font">Plants Tips - Blog</h2>
                <hr class="w-80 mb-5">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-12 col-md-8 offset-md-2">

                <!-- blog posts -->
                <div class="row">
                    {% for post in blog %}
                        <div class="col-12 col-md-6 mb-5 card-group">
                            <div class="card">
                                
                                <!-- edit/delete buttons -->
                                {% if request.user.is_superuser %}
                                    <div class="card-header edit-delete-btn">
                                        <a class="btn btn-grey float-left" href="{% url 'edit_post' post.id %}"><small>Edit</small></a>
                                        <a class="btn btn-grey float-right" data-toggle="modal" data-target="#deleteModal"><small>Delete</small></a>
                                    </div>
                                {% endif %}
                                
                                <a href="{% url 'blog_post' post.id %}" class="card-post">
                                    {% if post.main_image %}
                                        <img class="card-img-top img-fluid" src="{{ post.main_image.url }}" alt="{{ post.title }}">
                                    {% else %}
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}">
                                    {% endif %}
                                        <div class="post-info centered">
                                            <p>{{ post.title }}</p>
                                        </div>
                                </a>
                            </div>
                        </div>

                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5"></div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5"></div>
                        {% endif %}

                        <!-- delete modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>Are you sure you want to delete this?</p>
                                        <button type="button" class="btn btn-green" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-green"><a href="{% url 'delete_post' post.id %}">Yes, delete it!</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- back to top button -->
    <div class="back-top-btn shadow-sm">
        <a class="back-top-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <!-- back to top button functionality -->
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}