{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="icon" href="{{ MEDIA_URL }}icon.png" type="image">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/d2e1c5c15f.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Plantas&co. Shop {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">

        <!-- banner -->
        <div id="delivery-banner" class="row text-center">
            <div class="col-12 delivery-banner">
                <small>Free delivery on orders over ${{ free_delivery_threshold }}!</small>                
            </div>            
        </div>
        
        <!-- header -->
        <div id="topnav" class="row header-style pt-lg-1 d-none d-lg-flex">

            <!-- left side -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-left align-self-center">
                <ul class="list-inline list-unstyled text-center">

                    <!-- shop -->
                    <li class="list-inline-item">
                        {% include 'includes/left-nav.html' %}
                        <span onclick="openLeftNav()" class="dropdown-item navbar-item">Shop</span>
                    </li>

                    <!-- blog -->
                    <li class="list-inline-item">
                        <a href="{% url 'blog' %}" class="dropdown-item navbar-item">Plant Tips</a>
                    </li>
                </ul>

            </div>

            <!-- logo -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center align-self-center">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="{{ MEDIA_URL }}logo.jpg" alt="">
                </a>
            </div>

            <!-- right side -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-right align-self-center">
                <ul class="list-inline list-unstyled text-center">
                    
                    <!-- account -->
                    <li class="list-inline-item">
                        {% include 'includes/right-nav.html' %}
                        <span onclick="openAccountNav()" class="dropdown-item navbar-item">Account</span>
                    </li>

                    <!-- search -->
                    <li class="list-inline-item">
                        <span onclick="openSearchNav()" class="dropdown-item navbar-item"><i class="fas fa-search navbar-icon"></i></span>
                    </li>
                    
                    <!-- basket -->
                    <li class="list-inline-item">
                        <a class="nav-link navbar-item" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <p class="my-0">
                                    <i class="fas fa-shopping-bag navbar-icon"></i>
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- mobile header -->
        <div id="mobileNav" class="row header-style d-lg-none pt-lg-1 d-flex">
            {% include 'includes/mobile-top-header.html' %}
        </div>

    </header>

    <!-- toasts -->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}

        <!-- from w3schools -->
        <script>

            // left-nav menu
            function openLeftNav() {
                document.getElementById("myLeftNav").style.width = "300px";
            }

            function closeLeftNav() {
                document.getElementById("myLeftNav").style.width = "0";
            }

            // right-nav menu
            function openAccountNav() {
                document.getElementById("myAccountNav").style.width = "300px";
            }

            function closeAccountNav() {
                document.getElementById("myAccountNav").style.width = "0";
            }

            function openSearchNav() {
                document.getElementById("mySearchNav").style.width = "300px";
            }

            function closeSearchNav() {
                document.getElementById("mySearchNav").style.width = "0";
            }

            // mobile-nav menu
            function openMobileNav() {
                document.getElementById("myMobileNav").style.width = "100%";
            }

            function closeMobileNav() {
                document.getElementById("myMobileNav").style.width = "0";
            }
        </script>

        <!-- toasts -->
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
    {% endblock %}


</body>

</html>